In [1]:
import pandas as pd

# Load the dataset
df = pd.read_csv('PROCESSED.csv')
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 217509 entries, 0 to 217508
Data columns (total 11 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   DeviceName                   217509 non-null  object
 1   tcp.port                     217509 non-null  float64
 2   eth.dst_oui                  217509 non-null  float64
 3   tcp.options_timestamp_tsval  217509 non-null  float64
 4   tcp.srcport                  217509 non-null  float64
 5   tcp.options_timestamp_tsecr  217509 non-null  float64
 6   tcp.dstport                  217509 non-null  float64
 7   eth.stream                   217509 non-null  float64
 8   tcp.seq_raw                  217509 non-null  float64
 9   tcp.window_size              217509 non-null  float64
 10  tcp.window_size_value        217509 non-null  float64
dtypes: float64(10), object(1)
memory usage: 18.3+ MB
None

In [2]:
# Feature scaling for numerical columns
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
numerical_cols = df.select_dtypes(include=['float64', 'int64']).columns
df[numerical_cols] = scaler.fit_transform(df[numerical_cols])
df[numerical_cols].head()

,tcp.port,eth.dst_oui,tcp.options_timestamp_tsval,tcp.srcport,tcp.options_timestamp_tsecr,tcp.dstport,eth.stream,tcp.seq_raw,tcp.window_size,tcp.window_size_value
0,0.955485,-0.446687,-1.006126,0.955485,1.636748e+00,-1.049240e+00,-0.478796,-9.518787e-01,-0.340356,-1.629255e-01
1,-1.098122,0.023567,1.645411,-1.098122,-1.019906e+00,1.022841e+00,-0.478796,-5.027062e-01,-0.411593,-3.711421e-01
2,0.955485,-0.446687,-1.006126,0.955485,1.636748e+00,-1.049240e+00,-0.478796,-9.518787e-01,-0.340356,-1.629255e-01
3,0.955485,-0.446687,-1.006126,0.955485,1.636748e+00,-1.049240e+00,-0.478796,-9.518784e-01,-0.340356,-1.629255e-01
4,0.000000,2.730754,0.000000,0.000000,1.573181e-16,-1.869405e-16,-0.388224,-1.819182e-16,0.000000,-1.658248e-16

In [3]:
df_out = df
filename = 'PROCESSED_SCALED.csv'
df_out.to_csv(filename, index=False)
print("Wrote", df_out.shape[0], "rows and", df_out.shape[1], "columns to", filename)

Wrote 217509 rows and 11 columns to PROCESSED_SCALED.csv